## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd
from pandas.core.interchange.dataframe_protocol import DataFrame

In [4]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [6]:
# your code
data.sex.value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [125]:
# your code
print('Average age:', round(data['age'][data['sex']== "Male"].mean(), 2), 'years')

Average age: 39.43

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [132]:
# your code
print(f'Percent of USA citizens {round((data['native-country'][data['native-country'] == "United-States"].count()) / data['native-country'].count() * 100, 2)}%')

Percent of USA citizens 89.59%

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [128]:
# your code
mean_poor_age = data['age'][data['salary']== "<=50K"].mean()
mean_poor_age
std_poor_age = data['age'][data['salary']== "<=50K"].std()

print(f'Average age of low income {mean_poor_age}, Std deviation {std_poor_age}')

Average age of low income 36.78373786407767, Std deviation 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [27]:
# your code
set(data['education'][data['salary']== ">50K"].unique()) <= {'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'}

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [44]:
# your code
grouped_data = data.groupby(['sex', 'race'])[['age']].agg(['max'])

row = grouped_data.loc[('Male', 'Asian-Pac-Islander')]
print(row)

age  max    90
Name: (Male, Asian-Pac-Islander), dtype: int64

In [129]:
selected_columns = ['age']
new_data = data[
    (data['sex'] == 'Male') &
    (data['race'] == 'Asian-Pac-Islander')
][selected_columns]

desc = new_data.describe()
max_age = desc.loc['max', 'age']
print(f'Max age for Male Asian-Pac-Islander race {max_age}')

Max age for Male Asian-Pac-Islander race 90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [54]:
# your code
def marriage_category(status):
    if "Married" in status:
        return 'Married'
    else:
        return 'Not Married'

data['is_married'] = data['marital-status'].apply(marriage_category)
new_data = data[(data['sex'] == 'Male') &  (data['salary']== ">50K")]
new_data['is_married'].value_counts()

is_married
Married        5965
Not Married     697
Name: count, dtype: int64

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [131]:
# your code
max_hours_per_week = data['hours-per-week'].max()
new_data = data[data['hours-per-week'] == max_hours_per_week]
amount_max_workers = new_data['hours-per-week'].count()

salary_stats = new_data['salary'].value_counts()

rich_percent = round(salary_stats.loc['>50K']/amount_max_workers * 100, 2)

print(f'Amount of people with max workload {amount_max_workers}, rich among them {rich_percent}%')

Amount of peolple max workload 85, rich among them 29.41%

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [74]:
# your code
grouped_data = data.groupby(['native-country', 'salary'])[['hours-per-week']].agg(['mean'])
grouped_data

                      hours-per-week
                                mean
native-country salary
?              <=50K       40.164760
               >50K        45.547945
Cambodia       <=50K       41.416667
               >50K        40.000000
Canada         <=50K       37.914634
...                              ...
United-States  >50K        45.505369
Vietnam        <=50K       37.193548
               >50K        39.200000
Yugoslavia     <=50K       41.600000
               >50K        49.500000

[82 rows x 1 columns]

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [76]:
# your code
def age_category(age):
    if 16 <age < 35:
        return "young"
    elif 35 <= age <=70:
        return "adult"
    else:
        return "retiree"

data['Age_category'] = data['age'].apply(age_category)
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,is_married,Age_category
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Not Married,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Not Married,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,Married,young
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,Married,adult
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,Not Married,adult
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,Not Married,young
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,Married,adult

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [84]:
# your code
grouped_data = data[data['salary'] =='>50K'].groupby(['Age_category']).size().to_frame('count')
grouped_data

              count
Age_category
adult          6259
retiree          94
young          1488

In [85]:
max_row = grouped_data.loc[grouped_data['count'].idxmax()]
max_row

count    6259
Name: adult, dtype: int64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [122]:
dt = data.groupby(['occupation'])[['age', 'hours-per-week']].agg(['mean', 'min'])

In [135]:
def filter_func(inpt: pd.DataFrame):
    inpt = inpt.groupby(['occupation'])[['age', 'hours-per-week']].agg(['mean', 'min', 'count'])
    inpt = inpt[
        (inpt[('age', 'mean')] <= 40) &
        (inpt[('hours-per-week', 'min')] > 5)
    ]
    inpt.columns = ['_'.join(col).strip() for col in inpt.columns.values]
    return inpt.drop(columns=list(set(inpt.columns) - {'age_count'})).rename(columns={'age_count': 'people'})

filter_func(data)

              people
occupation
Armed-Forces       9